body{
    padding: 50px;
}
footer{
    padding: 50px;
}

.instagram-pic {
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.instagram-pic img {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);padding: 5px;
    width: 100%;
}
.instagram-bar {
    bottom: 30px;
    color: white;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    width: 100%;
}
.instagram-bar span {
    margin-right: 5px;
}
.instagram-bar .likes {
    float: left;
}
.instagram-bar .comments {
    float: right;
}